body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: white;
    color: white;
  }

  h1 {
    text-align: center;
    color: whitesmoke;
  }

  .container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #313a3d;
    padding: 30px;
  }

  .addtask {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  form {
    display: flex;
  }

  input {
    padding: 15px 10px;
    outline: none;
    width: 400px;
    outline: none;
  }
  
  .li {
    width: 100%;
    color: whitesmoke;
    margin-top: 20px;
    outline: none;
  }
  
  ul {
    padding: 0;
    outline: none;
  }
  
  li {
    list-style: none;
    background-color: slategray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    outline: none;
  }
  
  li p {
    margin: 0;
    padding: 15px;
    width: 100%;
    outline: none;
    text-align: left;
  }
  
  .btn-delete {
    margin-left: auto;
    border: none;
    background-color: #e31746;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 1.2em;
  }

  .btn-delete:hover {
    cursor: pointer;
    background-color: lightseagreen;
  }

  .btn {
    padding: 5px 15px;
    border: none;
    color: white;
    font-family: fantasy;
    background-color: teal;
    font-size: 1.4rem;
    outline: none;
  }

  .btn:hover {
    cursor: pointer;
    background-color: darkcyan;
  }
  .btn-edit {
    padding: 5px 15px;
    border: none;
    color: white;
    font-family: fantasy;
    background-color: rgb(223, 238, 10);
    font-size: 1.4rem;
    outline: none;
  }

  .btn-edit:hover {
    cursor: pointer;
    background-color: rgb(6, 129, 61);
  }

  .estado {
    color: whitesmoke;
  }
  .edittask{
      margin-top: 20px;
  }